/.DS_Store
/Composability.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Composability.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Composability.xcodeproj/project.xcworkspace/xcuserdata/rc.xcuserdatad/UserInterfaceState.xcuserstate
/Composability.xcodeproj/xcuserdata/rc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Composability.xcodeproj/xcuserdata/rc.xcuserdatad/xcschemes/xcschememanagement.plist
